.lista{
    width:10rem;
}

.listItemText{
    margin-left: 10px;
}

.logo{
    display:flex;
    margin-left: 0px;
    background-color: "#F2E635";
    width: 8rem;
}
.barraPesquisa{
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.userContainer{
    display:flex; 
    margin-left: auto;
    align-items: center;
    background-color: #f3dc01;
}

.userName{
    margin: 0;
    margin-right: auto;
    font-size: 1.1rem;
}

.carrinho{
    width: 2rem;
    color: black;
}