.containeCad {
    display: flex;
    flex-direction: column;
    border: 2px solid #f3dc01;
    border-radius: 10px;
    background-color: #f3dc01;
    box-shadow: 10px 5px 5px #A9A9A9;
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;

}

.containe2Cad{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.imgCad {
 
    margin-left: auto;
    margin-right: auto;

  }


.baseCad {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
    border: 2px;
    flex-direction: column;

}

.inputsCad {
    display: flex;
    flex-direction: column;
    margin-left:15px;
    margin-right: 15px;
}

.meioCad {
    display: flex;
    justify-content: center;
    align-self: center;
}

.linhaCad{
    width: 100%;
    border: 1px dashed whitesmoke;
}


.colCad{
    background-color: white;
    width: 100%;
    text-align: center;
    border-bottom-style: none;
}

@media (max-width:550px){
    .imgCad{
        width:0px;
    }
}

@media(max-width:1024px){
    .baseCad{
        height: 100%;
    }
}