.containe {
    display: flex;
    flex-direction: column;
    border: 2px solid #f3dc01;
    border-radius: 10px;
    max-width: 450px;
    background-color: #f3dc01;
    box-shadow: 10px 5px 5px #A9A9A9;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;;
    margin-top: 0px;;
}



.containe2{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 440px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.fundo{
    height: 100%;
    width: 100%;
    background-size:contain;
    background-color: whitesmoke;
}

.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left:15px;
    margin-right: 15px;
}

.meio {
    display: flex;
    justify-content: center;
    align-self: center;
}

.linha{
    width: 100%;
    border: 1px dashed whitesmoke;
}


.col{
    background-color: white;
    width: 100%;
    text-align: center;
    border-bottom-style: none;
}