.listaBarra{
    width:16rem;
}

.listItemTextBarra{
    margin-left: 10px;
}
.linhaBar{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    border:1px solid;
    color:rgb(204, 200, 200);
  }
  .descricaoProdBar{
      display:flex;
      flex-direction: column;
  }
  .imgCarBar{
      width:5rem;
  }
  .textItemBar{
    display:flex;
    word-wrap:normal;
    margin-left:1rem;
    margin-bottom:-3px;
    width:100%;

  }

.logoBarra{
    display:flex;
    flex-grow: 1;
    max-width: 16rem;
    min-width: 8rem;
    margin-bottom:0.8rem;
    margin-left: 0px;
    background-color: #f3dc01;

}

.pesquisaBarra{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-self: center;
    background-color: white;
    border-radius: 5px;
    max-width: 100%;
    flex-grow: 1;
}

.userContainerBarra{
    display:flex; 
    margin-left: auto;
    align-items: center;
    background-color: #f3dc01;
}
.carrinhoproduto{
    display: flex;
    flex-direction:column;
    align-self: flex-end;
}

.userNameBarra{
    margin: 0;
    margin-right: auto;
    color:black;
    font-size: 1.1rem;

}
.drawerBar{
    overflow:auto;
    max-Width:30rem;
    background-color: #e9e9e9;
    height:100%;
}

.carrinhoBarra{
    width: 2rem;
    color: black;
    background-color: #f3dc01;
}

.usuarioBarra{
    width: 2rem;
    color: black;
    background-color: #f3dc01;
}

@media (max-width:500px){
    .userNameBarra{
        font-size:0px;
    }
}

@media (max-width:550px){
    .logoBarra{
        min-width: 0px;
        width:0px;
    }
}

@media(max-width:541px){
    .drawerBar{
        width:20rem
    }
}
@media(max-width:359px){
    .imgCarBar{
        width:4.5rem;
    }
    .drawerBar{
        width: 15rem;
    }
}