.listaBarra{
    width:16rem;
}

.listItemTextBarra{
    margin-left: 10px;
}

.logoBarra{
    display:flex;
    flex-grow: 1;
    max-width: 16rem;
    min-width: 8rem;
    margin-bottom:0.8rem;
    margin-left: 0px;
    background-color: #f3dc01;

}

.pesquisaBarra{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-self: center;
    background-color: white;
    border-radius: 5px;
    max-width: 100%;
    flex-grow: 1;
}

.userContainerBarra{
    display:flex; 
    margin-left: auto;
    align-items: center;
    background-color: #f3dc01;
}

.userNameBarra{
    margin: 0;
    margin-right: auto;
    color:black;
    font-size: 1.1rem;

}

.carrinhoBarra{
    width: 2rem;
    color: black;
    background-color: #f3dc01;
}

.usuarioBarra{
    width: 2rem;
    color: black;
    background-color: #f3dc01;
}

@media (max-width:500px){
    .userNameBarra{
        font-size:0px;
    }
}

@media (max-width:550px){
    .logoBarra{
        min-width: 0px;
        width:0px;
    }
}
