.meioFooter{
    margin:auto;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}

.IconFooter{
    color : white; 
    margin: 1.5rem;
}

@media (max-width: 600px){
    .IconFooter{
    margin: 1rem;
    }
}

@media (max-width: 360px){
    .IconFooter{
    margin: 0.5rem;
    }
}

