.boxPer {
    align-self: left;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(243, 220, 1, 0.8);
}

.alinharPer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    color: #212529;
    background-color: rgb(243, 220, 1, 0.8);
    border-color: black;
}